.primary {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-dark);
}

.dark {
    width: 100%;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.title-box {
    width: 100%;
    padding: 1% 2%;
    margin-bottom: 8%;
}

.primary .title-box {
    background: linear-gradient(170deg, var(--color-dark) 50%, var(--color-primary) 50%);
}

.dark .title-box {
    background: linear-gradient(-170deg, var(--color-primary) 50%, var(--color-dark) 50%);
}

.title-box h1 {
    margin: 0 0 10% 0;
}

.primary .title-box h1 {
    color: var(--color-primary);
    transform: rotate(-10deg);
}

.dark .title-box h1 {
    text-align: right;
    color: var(--color-dark);
    transform: rotate(10deg);
}

.description-box {
    text-align: justify;
    font-weight: bold;
    padding: 0 2%;
}

.description-box p {
    margin-top: 8%;
}

.description-box img {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.description-box img:hover {
    transition: 0.5s;
    width: 52%;
}

.logo {
    font-family: 'Big Shoulders Stencil Text', sans-serif;
    color: var(--color-primary);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-weight: 900;
    font-size: 30px;
}

.logo:hover {
    transition: 0.5s;
    font-size: 35px;
}

/* SMALL DEVICES - SMARTPHONES */
/* 480 x 800 */
@media screen and (min-width: 480px) {
    .title-box {
        padding: 2% 2%;
    }

    .logo {
        font-size: 32px;
    }
    
    .logo:hover {
        font-size: 37px;
    }
}

/* SMALL DEVICES - TABLETS */
/* 768 x 1024 */
@media screen and (min-width: 768px) {
    .title-box {
        padding: 4% 2%;
        margin-bottom: 2%;
    }

    .title-box h1 {
        margin: 0 0 6% 0;
    }

    .description-box {
        padding: 0 10%;
    }

    .description-box p {
        margin-top: 4%;
    }

    .logo {
        font-size: 45px;
    }
    
    .logo:hover {
        font-size: 50px;
    }
}

/* MEDIUM DEVICES - TABLETS & DESKTOPS */
/* 960 x 1280*/
@media screen and (min-width: 960px) {
    .title-box {
        padding: 5% 2% 1% 2%;
    }

    .title-box h1 {
        margin: 0;
    }

    .primary .title-box h1 {
        transform: rotate(0deg);
    }
    
    .dark .title-box h1 {
        transform: rotate(0deg);
    }

    .description-box {
        padding: 0 15%;
    }

    .logo {
        font-size: 55px;
    }
    
    .logo:hover {
        font-size: 60px;
    }
}