.technologies {
    background-color: var(--color-primary);
    width: 100%;
    padding: 20% 2%;
}

.technologies section {
    display: block;
}

.technologies section h1 {
    color: var(--color-dark);
    text-align: center;
}

.technologies section div {
    display: flex;
    width: 100%;
    padding: 0 2%;
}

/* SMALL DEVICES - SMARTPHONES */
/* 480 x 800 */
@media screen and (min-width: 480px) {
    .technologies {
        padding: 15% 2%;
    }
}

/* SMALL DEVICES - TABLETS */
/* 768 x 1024 */
@media screen and (min-width: 768px) {
    .technologies {
        padding: 10%;
    }
}

/* MEDIUM DEVICES - TABLETS & DESKTOPS */
/* 960 x 1280*/
@media screen and (min-width: 960px) {
    .technologies {
        padding: 5% 15%;
    }
}

/* LARGE DEVICES - WIDE SCREENS */
/* 1280 */
@media screen and (min-width: 1280px) {
    .technologies {
        display: flex;
        justify-content: center;
        padding: 5% 0;
    }

    .technologies section {
        width: 33%;
    }
}

/* // 08000017579 */