.technology {
    background-color: var(--color-dark);
    width: 20%;
    display: flex;
    align-items: center;
    margin: 0 auto 8% auto;
    padding: 2%;
    border-radius: 10px;
}

.technology img {
    width: 100%;
}

.technology:hover {
    transition: 0.5s;
    padding: 1.5%;
}

/* SMALL DEVICES - TABLETS */
/* 768 x 1024 */
@media screen and (min-width: 768px) {
    .technology {
        width: 17%;
    }
}

/* MEDIUM DEVICES - TABLETS & DESKTOPS */
/* 960 x 1280*/
@media screen and (min-width: 960px) {
    .technology {
        width: 15%;
    }
}

/* LARGE DEVICES - WIDE SCREENS */
/* 1280 */
@media screen and (min-width: 1280px) {
    .technology {
        width: 18%;
    }
}