.buttonBack {
    width: 100%;
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonBack a {
    color: var(--color-light);
    font-weight: bold;
    text-transform: lowercase;
}

.buttonBack a:hover {
    color: var(--color-primary);
    transition: 0.5s;
}

.buttonBackImg {
    display: flex;
    align-items: center;
    width: 8%;
    height: 8%;
}

.buttonBack img {
    cursor: pointer;
    width: 100%;
}

/* SMALL DEVICES - TABLETS */
/* 768 x 1024 */
@media screen and (min-width: 768px) {
    .buttonBackImg {
        width: 6%;
        height: 6%;
    }
}

/* MEDIUM DEVICES - TABLETS & DESKTOPS */
/* 960 x 1280*/
@media screen and (min-width: 960px) {
    .buttonBackImg {
        width: 5%;
        height: 5%;
    }
}

/* LARGE DEVICES - WIDE SCREENS */
/* 1280 */
@media screen and (min-width: 1280px) {
    .buttonBackImg {
        width: 3%;
        height: 3%;
    }
}